/* game board table */
body{
  max-width: 500px;
  margin: auto;
  display: block;
  background-color: black;
  font-family: 'Russo One', sans-serif;
}

#headingDiv{

  margin: 20px 0px 0px 0px;
  max-width: 412px;
  height:240px;
  position: relative;
}

h1{
  max-width: 412px;
  margin: 0px 0px 0px 0px;
  align-content: center;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 100px;
  /* margin-top: 30px; */
  /* display: inline-block; */
  
}

.letter{
  margin: 1px 1px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: black;
}

.connect{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}
.four{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.draw{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}


.outline{

  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.glow{
  text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.red{

  color: red;

}

.blue{
  color: blue;
  
}


#board td {
  width: 50px;
  height: 50px;
  border: 3px solid yellow;
  border-radius: 25%;
  background-color: #0d0d0d;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 3px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid white;
}

.player1{

  background-color: red;

}
.player2{

  background-color: blue;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px lightgray;
}

#column-top td:hover {
  background-color: yellow;
  cursor: pointer

}

#buttonPanel{
  display: flex;
  max-width: 422px;
  align-content: center;
  justify-content: center;
  padding-top: 40px;
  font-family: 'Russo One', sans-serif;
}

button{
/* 
  position: relative;
  display: block; */
  /* max-width: 300px; */
  width:125px ;
  height: 50px;
  border-radius: 25px; 
  background-color: blue;
  border: solid 2px white;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

}

button:hover{

    background-color: red;
    /* border: solid 2px white; */

  }